<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OWASP Benchmark</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/benchmark/css/normalize.css">
  <link rel="stylesheet" href="/benchmark/css/skeleton.css">
  <link rel="icon" type="image/png" href="/benchmark/favicon.ico">
  
  <script src="/benchmark/js/jquery.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="row">
			<div class="twelve columns">
				<h1>OWASP Benchmark Insecure Deserialization Test Case Index</h1>
			</div>
		</div>
		<div class="row">
			<div class="eight columns">
			<ul>
<li><a href='deserialization-00/BenchmarkTest00078'>BenchmarkTest00078</a></li>
<li><a href='deserialization-00/BenchmarkTest00079'>BenchmarkTest00079</a></li>
<li><a href='deserialization-00/BenchmarkTest00080'>BenchmarkTest00080</a></li>
<li><a href='deserialization-00/BenchmarkTest00081'>BenchmarkTest00081</a></li>
<li><a href='deserialization-00/BenchmarkTest00164.html?BenchmarkTest00164=SafeText'>BenchmarkTest00164</a></li>
<li><a href='deserialization-00/BenchmarkTest00269.html?BenchmarkTest00269=SafeText'>BenchmarkTest00269</a></li>
<li><a href='deserialization-00/BenchmarkTest00270.html?BenchmarkTest00270=SafeText'>BenchmarkTest00270</a></li>
<li><a href='deserialization-00/BenchmarkTest00271.html?BenchmarkTest00271=SafeText'>BenchmarkTest00271</a></li>
<li><a href='deserialization-00/BenchmarkTest00349.html?BenchmarkTest00349=SafeText'>BenchmarkTest00349</a></li>
<li><a href='deserialization-00/BenchmarkTest00433.html?BenchmarkTest00433=SafeText'>BenchmarkTest00433</a></li>
<li><a href='deserialization-00/BenchmarkTest00434.html?BenchmarkTest00434=SafeText'>BenchmarkTest00434</a></li>
<li><a href='deserialization-00/BenchmarkTest00435.html?BenchmarkTest00435=SafeText'>BenchmarkTest00435</a></li>
<li><a href='deserialization-00/BenchmarkTest00507.html?BenchmarkTest00507=SafeText'>BenchmarkTest00507</a></li>
<li><a href='deserialization-00/BenchmarkTest00508.html?BenchmarkTest00508=SafeText'>BenchmarkTest00508</a></li>
<li><a href='deserialization-00/BenchmarkTest00509.html?BenchmarkTest00509=SafeText'>BenchmarkTest00509</a></li>
<li><a href='deserialization-00/BenchmarkTest00510.html?BenchmarkTest00510=SafeText'>BenchmarkTest00510</a></li>
<li><a href='deserialization-00/BenchmarkTest00513.html?BenchmarkTest00513=SafeText'>BenchmarkTest00513</a></li>
<li><a href='deserialization-00/BenchmarkTest00514.html?BenchmarkTest00514=SafeText'>BenchmarkTest00514</a></li>
<li><a href='deserialization-00/BenchmarkTest00605.html?BenchmarkTest00605=SafeText'>BenchmarkTest00605</a></li>
<li><a href='deserialization-00/BenchmarkTest00608.html?BenchmarkTest00608=SafeText'>BenchmarkTest00608</a></li>
<li><a href='deserialization-00/BenchmarkTest00609.html?BenchmarkTest00609=SafeText'>BenchmarkTest00609</a></li>
<li><a href='deserialization-00/BenchmarkTest00657.html?BenchmarkTest00657=SafeText'>BenchmarkTest00657</a></li>
<li><a href='deserialization-00/BenchmarkTest00658.html?BenchmarkTest00658=SafeText'>BenchmarkTest00658</a></li>
<li><a href='deserialization-00/BenchmarkTest00659.html?BenchmarkTest00659=SafeText'>BenchmarkTest00659</a></li>
<li><a href='deserialization-00/BenchmarkTest00660.html?BenchmarkTest00660=SafeText'>BenchmarkTest00660</a></li>
<li><a href='deserialization-00/BenchmarkTest00734.html?BenchmarkTest00734=SafeText'>BenchmarkTest00734</a></li>
<li><a href='deserialization-00/BenchmarkTest00735.html?BenchmarkTest00735=SafeText'>BenchmarkTest00735</a></li>
<li><a href='deserialization-00/BenchmarkTest00825.html?BenchmarkTest00825=SafeText'>BenchmarkTest00825</a></li>
<li><a href='deserialization-00/BenchmarkTest00826.html?BenchmarkTest00826=SafeText'>BenchmarkTest00826</a></li>
<li><a href='deserialization-00/BenchmarkTest00827.html?BenchmarkTest00827=SafeText'>BenchmarkTest00827</a></li>
<li><a href='deserialization-00/BenchmarkTest00828.html?BenchmarkTest00828=SafeText'>BenchmarkTest00828</a></li>
<li><a href='deserialization-00/BenchmarkTest00898.html?BenchmarkTest00898=SafeText'>BenchmarkTest00898</a></li>
<li><a href='deserialization-00/BenchmarkTest00901.html?BenchmarkTest00901=SafeText'>BenchmarkTest00901</a></li>
<li><a href='deserialization-00/BenchmarkTest00902.html?BenchmarkTest00902=SafeText'>BenchmarkTest00902</a></li>
<li><a href='deserialization-00/BenchmarkTest00903.html?BenchmarkTest00903=SafeText'>BenchmarkTest00903</a></li>
<li><a href='deserialization-00/BenchmarkTest00904.html?BenchmarkTest00904=SafeText'>BenchmarkTest00904</a></li>
<li><a href='deserialization-00/BenchmarkTest00992.html?BenchmarkTest00992=SafeText'>BenchmarkTest00992</a></li>
<li><a href='deserialization-00/BenchmarkTest00993.html?BenchmarkTest00993=SafeText'>BenchmarkTest00993</a></li>
<li><a href='deserialization-00/BenchmarkTest00994.html?BenchmarkTest00994=SafeText'>BenchmarkTest00994</a></li>
<li><a href='deserialization-00/BenchmarkTest00995.html?BenchmarkTest00995=SafeText'>BenchmarkTest00995</a></li>
<li><a href='deserialization-00/BenchmarkTest00996.html?BenchmarkTest00996=SafeText'>BenchmarkTest00996</a></li>
<li><a href='deserialization-00/BenchmarkTest00997.html?BenchmarkTest00997=SafeText'>BenchmarkTest00997</a></li>
<li><a href='deserialization-00/BenchmarkTest00998.html?BenchmarkTest00998=SafeText'>BenchmarkTest00998</a></li>
<li><a href='deserialization-00/BenchmarkTest00999.html?BenchmarkTest00999=SafeText'>BenchmarkTest00999</a></li>
<li><a href='deserialization-00/BenchmarkTest01096.html?BenchmarkTest01096=SafeText'>BenchmarkTest01096</a></li>
<li><a href='deserialization-00/BenchmarkTest01099.html?BenchmarkTest01099=SafeText'>BenchmarkTest01099</a></li>
<li><a href='deserialization-00/BenchmarkTest01100.html?BenchmarkTest01100=SafeText'>BenchmarkTest01100</a></li>
<li><a href='deserialization-00/BenchmarkTest01101.html?BenchmarkTest01101=SafeText'>BenchmarkTest01101</a></li>
<li><a href='deserialization-00/BenchmarkTest01102.html?BenchmarkTest01102=SafeText'>BenchmarkTest01102</a></li>
<li><a href='deserialization-00/BenchmarkTest01172.html?BenchmarkTest01172=SafeText'>BenchmarkTest01172</a></li>
<li><a href='deserialization-00/BenchmarkTest01174.html?BenchmarkTest01174=SafeText'>BenchmarkTest01174</a></li>
<li><a href='deserialization-00/BenchmarkTest01216.html?BenchmarkTest01216=SafeText'>BenchmarkTest01216</a></li>
<li><a href='deserialization-00/BenchmarkTest01228.html?BenchmarkTest01228=SafeText'>BenchmarkTest01228</a></li>
<li><a href='deserialization-00/BenchmarkTest01230.html?BenchmarkTest01230=SafeText'>BenchmarkTest01230</a></li>
				<!-- @@LINK@@ -->
			</ul>
			</div>
		</div>
	</div>
</div>
</body>
</html>
