<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OWASP Benchmark</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/benchmark/css/normalize.css">
  <link rel="stylesheet" href="/benchmark/css/skeleton.css">
  <link rel="icon" type="image/png" href="/benchmark/favicon.ico">
  
  <script src="/benchmark/js/jquery.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="row">
			<div class="twelve columns">
				<h1>OWASP Benchmark Unchecked Redirect Test Case Index</h1>
			</div>
		</div>
		<div class="row">
			<div class="eight columns">
			<ul>
<li><a href='redirect-00/BenchmarkTest00067'>BenchmarkTest00067</a></li>
<li><a href='redirect-00/BenchmarkTest00068'>BenchmarkTest00068</a></li>
<li><a href='redirect-00/BenchmarkTest00069'>BenchmarkTest00069</a></li>
<li><a href='redirect-00/BenchmarkTest00151.html?BenchmarkTest00151=SafeText'>BenchmarkTest00151</a></li>
<li><a href='redirect-00/BenchmarkTest00258.html?BenchmarkTest00258=SafeText'>BenchmarkTest00258</a></li>
<li><a href='redirect-00/BenchmarkTest00259.html?BenchmarkTest00259=SafeText'>BenchmarkTest00259</a></li>
<li><a href='redirect-00/BenchmarkTest00417.html?BenchmarkTest00417=SafeText'>BenchmarkTest00417</a></li>
<li><a href='redirect-00/BenchmarkTest00418.html?BenchmarkTest00418=SafeText'>BenchmarkTest00418</a></li>
<li><a href='redirect-00/BenchmarkTest00419.html?BenchmarkTest00419=SafeText'>BenchmarkTest00419</a></li>
<li><a href='redirect-00/BenchmarkTest00420.html?BenchmarkTest00420=SafeText'>BenchmarkTest00420</a></li>
<li><a href='redirect-00/BenchmarkTest00495.html?BenchmarkTest00495=SafeText'>BenchmarkTest00495</a></li>
<li><a href='redirect-00/BenchmarkTest00496.html?BenchmarkTest00496=SafeText'>BenchmarkTest00496</a></li>
<li><a href='redirect-00/BenchmarkTest00596.html?BenchmarkTest00596=SafeText'>BenchmarkTest00596</a></li>
<li><a href='redirect-00/BenchmarkTest00597.html?BenchmarkTest00597=SafeText'>BenchmarkTest00597</a></li>
<li><a href='redirect-00/BenchmarkTest00598.html?BenchmarkTest00598=SafeText'>BenchmarkTest00598</a></li>
<li><a href='redirect-00/BenchmarkTest00654.html?BenchmarkTest00654=SafeText'>BenchmarkTest00654</a></li>
<li><a href='redirect-00/BenchmarkTest00655.html?BenchmarkTest00655=SafeText'>BenchmarkTest00655</a></li>
<li><a href='redirect-00/BenchmarkTest00722.html?BenchmarkTest00722=SafeText'>BenchmarkTest00722</a></li>
<li><a href='redirect-00/BenchmarkTest00723.html?BenchmarkTest00723=SafeText'>BenchmarkTest00723</a></li>
<li><a href='redirect-00/BenchmarkTest00724.html?BenchmarkTest00724=SafeText'>BenchmarkTest00724</a></li>
<li><a href='redirect-00/BenchmarkTest00814.html?BenchmarkTest00814=SafeText'>BenchmarkTest00814</a></li>
<li><a href='redirect-00/BenchmarkTest00815.html?BenchmarkTest00815=SafeText'>BenchmarkTest00815</a></li>
<li><a href='redirect-00/BenchmarkTest00816.html?BenchmarkTest00816=SafeText'>BenchmarkTest00816</a></li>
<li><a href='redirect-00/BenchmarkTest00982.html?BenchmarkTest00982=SafeText'>BenchmarkTest00982</a></li>
<li><a href='redirect-00/BenchmarkTest00983.html?BenchmarkTest00983=SafeText'>BenchmarkTest00983</a></li>
<li><a href='redirect-00/BenchmarkTest01091.html?BenchmarkTest01091=SafeText'>BenchmarkTest01091</a></li>
<li><a href='redirect-00/BenchmarkTest01156.html?BenchmarkTest01156=SafeText'>BenchmarkTest01156</a></li>
<li><a href='redirect-00/BenchmarkTest01157.html?BenchmarkTest01157=SafeText'>BenchmarkTest01157</a></li>
<li><a href='redirect-00/BenchmarkTest01158.html?BenchmarkTest01158=SafeText'>BenchmarkTest01158</a></li>
<li><a href='redirect-00/BenchmarkTest01159.html?BenchmarkTest01159=SafeText'>BenchmarkTest01159</a></li>
<li><a href='redirect-00/BenchmarkTest01160.html?BenchmarkTest01160=SafeText'>BenchmarkTest01160</a></li>
<li><a href='redirect-00/BenchmarkTest01178'>BenchmarkTest01178</a></li>
<li><a href='redirect-00/BenchmarkTest01208.html?BenchmarkTest01208=SafeText'>BenchmarkTest01208</a></li>
<li><a href='redirect-00/BenchmarkTest01209.html?BenchmarkTest01209=SafeText'>BenchmarkTest01209</a></li>
				<!-- @@LINK@@ -->
			</ul>
			</div>
		</div>
	</div>
</div>
</body>
</html>
