<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OWASP Benchmark</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/benchmark/css/normalize.css">
  <link rel="stylesheet" href="/benchmark/css/skeleton.css">
  <link rel="icon" type="image/png" href="/benchmark/favicon.ico">
  
  <script src="/benchmark/js/jquery.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="row">
			<div class="twelve columns">
				<h1>OWASP Benchmark XSS (Cross-Site Scripting) Test Case Index</h1>
			</div>
		</div>
		<div class="row">
			<div class="eight columns">
			<ul>
<li><a href='xss-00/BenchmarkTest00082.html?BenchmarkTest00082=SafeText'>BenchmarkTest00082</a></li>
<li><a href='xss-00/BenchmarkTest00083.html?BenchmarkTest00083=SafeText'>BenchmarkTest00083</a></li>
<li><a href='xss-00/BenchmarkTest00084.html?BenchmarkTest00084=SafeText'>BenchmarkTest00084</a></li>
<li><a href='xss-00/BenchmarkTest00096.html?BenchmarkTest00096=SafeText'>BenchmarkTest00096</a></li>
<li><a href='xss-00/BenchmarkTest00097.html?BenchmarkTest00097=SafeText'>BenchmarkTest00097</a></li>
<li><a href='xss-00/BenchmarkTest00098.html?BenchmarkTest00098=SafeText'>BenchmarkTest00098</a></li>
<li><a href='xss-00/BenchmarkTest00149.html?BenchmarkTest00149=SafeText'>BenchmarkTest00149</a></li>
<li><a href='xss-00/BenchmarkTest00150.html?BenchmarkTest00150=SafeText'>BenchmarkTest00150</a></li>
<li><a href='xss-00/BenchmarkTest00169.html?BenchmarkTest00169=SafeText'>BenchmarkTest00169</a></li>
<li><a href='xss-00/BenchmarkTest00185.html?BenchmarkTest00185=SafeText'>BenchmarkTest00185</a></li>
<li><a href='xss-00/BenchmarkTest00186.html?BenchmarkTest00186=SafeText'>BenchmarkTest00186</a></li>
<li><a href='xss-00/BenchmarkTest00187.html?BenchmarkTest00187=SafeText'>BenchmarkTest00187</a></li>
<li><a href='xss-00/BenchmarkTest00188.html?BenchmarkTest00188=SafeText'>BenchmarkTest00188</a></li>
<li><a href='xss-00/BenchmarkTest00189.html?BenchmarkTest00189=SafeText'>BenchmarkTest00189</a></li>
<li><a href='xss-00/BenchmarkTest00190.html?BenchmarkTest00190=SafeText'>BenchmarkTest00190</a></li>
<li><a href='xss-00/BenchmarkTest00191.html?BenchmarkTest00191=SafeText'>BenchmarkTest00191</a></li>
<li><a href='xss-00/BenchmarkTest00256.html?BenchmarkTest00256=SafeText'>BenchmarkTest00256</a></li>
<li><a href='xss-00/BenchmarkTest00257.html?BenchmarkTest00257=SafeText'>BenchmarkTest00257</a></li>
<li><a href='xss-00/BenchmarkTest00272.html?BenchmarkTest00272=SafeText'>BenchmarkTest00272</a></li>
<li><a href='xss-00/BenchmarkTest00278.html?BenchmarkTest00278=SafeText'>BenchmarkTest00278</a></li>
<li><a href='xss-00/BenchmarkTest00279.html?BenchmarkTest00279=SafeText'>BenchmarkTest00279</a></li>
<li><a href='xss-00/BenchmarkTest00280.html?BenchmarkTest00280=SafeText'>BenchmarkTest00280</a></li>
<li><a href='xss-00/BenchmarkTest00281.html?BenchmarkTest00281=SafeText'>BenchmarkTest00281</a></li>
<li><a href='xss-00/BenchmarkTest00282.html?BenchmarkTest00282=SafeText'>BenchmarkTest00282</a></li>
<li><a href='xss-00/BenchmarkTest00334.html?BenchmarkTest00334=SafeText'>BenchmarkTest00334</a></li>
<li><a href='xss-00/BenchmarkTest00335.html?BenchmarkTest00335=SafeText'>BenchmarkTest00335</a></li>
<li><a href='xss-00/BenchmarkTest00362.html?BenchmarkTest00362=SafeText'>BenchmarkTest00362</a></li>
<li><a href='xss-00/BenchmarkTest00363.html?BenchmarkTest00363=SafeText'>BenchmarkTest00363</a></li>
<li><a href='xss-00/BenchmarkTest00364.html?BenchmarkTest00364=SafeText'>BenchmarkTest00364</a></li>
<li><a href='xss-00/BenchmarkTest00365.html?BenchmarkTest00365=SafeText'>BenchmarkTest00365</a></li>
<li><a href='xss-00/BenchmarkTest00366.html?BenchmarkTest00366=SafeText'>BenchmarkTest00366</a></li>
<li><a href='xss-00/BenchmarkTest00367.html?BenchmarkTest00367=SafeText'>BenchmarkTest00367</a></li>
<li><a href='xss-00/BenchmarkTest00414.html?BenchmarkTest00414=SafeText'>BenchmarkTest00414</a></li>
<li><a href='xss-00/BenchmarkTest00436.html?BenchmarkTest00436=SafeText'>BenchmarkTest00436</a></li>
<li><a href='xss-00/BenchmarkTest00437.html?BenchmarkTest00437=SafeText'>BenchmarkTest00437</a></li>
<li><a href='xss-00/BenchmarkTest00450.html?BenchmarkTest00450=SafeText'>BenchmarkTest00450</a></li>
<li><a href='xss-00/BenchmarkTest00451.html?BenchmarkTest00451=SafeText'>BenchmarkTest00451</a></li>
<li><a href='xss-00/BenchmarkTest00452.html?BenchmarkTest00452=SafeText'>BenchmarkTest00452</a></li>
<li><a href='xss-00/BenchmarkTest00453.html?BenchmarkTest00453=SafeText'>BenchmarkTest00453</a></li>
<li><a href='xss-00/BenchmarkTest00493.html?BenchmarkTest00493=SafeText'>BenchmarkTest00493</a></li>
<li><a href='xss-00/BenchmarkTest00515.html?BenchmarkTest00515=SafeText'>BenchmarkTest00515</a></li>
<li><a href='xss-00/BenchmarkTest00531.html?BenchmarkTest00531=SafeText'>BenchmarkTest00531</a></li>
<li><a href='xss-00/BenchmarkTest00532.html?BenchmarkTest00532=SafeText'>BenchmarkTest00532</a></li>
<li><a href='xss-00/BenchmarkTest00533.html?BenchmarkTest00533=SafeText'>BenchmarkTest00533</a></li>
<li><a href='xss-00/BenchmarkTest00591.html?BenchmarkTest00591=SafeText'>BenchmarkTest00591</a></li>
<li><a href='xss-00/BenchmarkTest00668.html?BenchmarkTest00668=SafeText'>BenchmarkTest00668</a></li>
<li><a href='xss-00/BenchmarkTest00669.html?BenchmarkTest00669=SafeText'>BenchmarkTest00669</a></li>
<li><a href='xss-00/BenchmarkTest00670.html?BenchmarkTest00670=SafeText'>BenchmarkTest00670</a></li>
<li><a href='xss-00/BenchmarkTest00671.html?BenchmarkTest00671=SafeText'>BenchmarkTest00671</a></li>
<li><a href='xss-00/BenchmarkTest00672.html?BenchmarkTest00672=SafeText'>BenchmarkTest00672</a></li>
<li><a href='xss-00/BenchmarkTest00673.html?BenchmarkTest00673=SafeText'>BenchmarkTest00673</a></li>
<li><a href='xss-00/BenchmarkTest00752.html?BenchmarkTest00752=SafeText'>BenchmarkTest00752</a></li>
<li><a href='xss-00/BenchmarkTest00753.html?BenchmarkTest00753=SafeText'>BenchmarkTest00753</a></li>
<li><a href='xss-00/BenchmarkTest00754.html?BenchmarkTest00754=SafeText'>BenchmarkTest00754</a></li>
<li><a href='xss-00/BenchmarkTest00829.html?BenchmarkTest00829=SafeText'>BenchmarkTest00829</a></li>
<li><a href='xss-00/BenchmarkTest00830.html?BenchmarkTest00830=SafeText'>BenchmarkTest00830</a></li>
<li><a href='xss-00/BenchmarkTest00839.html?BenchmarkTest00839=SafeText'>BenchmarkTest00839</a></li>
<li><a href='xss-00/BenchmarkTest00840.html?BenchmarkTest00840=SafeText'>BenchmarkTest00840</a></li>
<li><a href='xss-00/BenchmarkTest00841.html?BenchmarkTest00841=SafeText'>BenchmarkTest00841</a></li>
<li><a href='xss-00/BenchmarkTest00842.html?BenchmarkTest00842=SafeText'>BenchmarkTest00842</a></li>
<li><a href='xss-00/BenchmarkTest00883.html?BenchmarkTest00883=SafeText'>BenchmarkTest00883</a></li>
<li><a href='xss-00/BenchmarkTest00884.html?BenchmarkTest00884=SafeText'>BenchmarkTest00884</a></li>
<li><a href='xss-00/BenchmarkTest00905.html?BenchmarkTest00905=SafeText'>BenchmarkTest00905</a></li>
<li><a href='xss-00/BenchmarkTest00923.html?BenchmarkTest00923=SafeText'>BenchmarkTest00923</a></li>
<li><a href='xss-00/BenchmarkTest00924.html?BenchmarkTest00924=SafeText'>BenchmarkTest00924</a></li>
<li><a href='xss-00/BenchmarkTest00925.html?BenchmarkTest00925=SafeText'>BenchmarkTest00925</a></li>
<li><a href='xss-00/BenchmarkTest00926.html?BenchmarkTest00926=SafeText'>BenchmarkTest00926</a></li>
<li><a href='xss-00/BenchmarkTest01000.html?BenchmarkTest01000=SafeText'>BenchmarkTest01000</a></li>
<li><a href='xss-00/BenchmarkTest01001.html?BenchmarkTest01001=SafeText'>BenchmarkTest01001</a></li>
<li><a href='xss-00/BenchmarkTest01002.html?BenchmarkTest01002=SafeText'>BenchmarkTest01002</a></li>
<li><a href='xss-00/BenchmarkTest01003.html?BenchmarkTest01003=SafeText'>BenchmarkTest01003</a></li>
<li><a href='xss-00/BenchmarkTest01014.html?BenchmarkTest01014=SafeText'>BenchmarkTest01014</a></li>
<li><a href='xss-00/BenchmarkTest01015.html?BenchmarkTest01015=SafeText'>BenchmarkTest01015</a></li>
<li><a href='xss-00/BenchmarkTest01016.html?BenchmarkTest01016=SafeText'>BenchmarkTest01016</a></li>
<li><a href='xss-00/BenchmarkTest01017.html?BenchmarkTest01017=SafeText'>BenchmarkTest01017</a></li>
<li><a href='xss-00/BenchmarkTest01018.html?BenchmarkTest01018=SafeText'>BenchmarkTest01018</a></li>
<li><a href='xss-00/BenchmarkTest01019.html?BenchmarkTest01019=SafeText'>BenchmarkTest01019</a></li>
<li><a href='xss-00/BenchmarkTest01020.html?BenchmarkTest01020=SafeText'>BenchmarkTest01020</a></li>
<li><a href='xss-00/BenchmarkTest01082.html?BenchmarkTest01082=SafeText'>BenchmarkTest01082</a></li>
<li><a href='xss-00/BenchmarkTest01083.html?BenchmarkTest01083=SafeText'>BenchmarkTest01083</a></li>
<li><a href='xss-01/BenchmarkTest01084.html?BenchmarkTest01084=SafeText'>BenchmarkTest01084</a></li>
<li><a href='xss-01/BenchmarkTest01103.html?BenchmarkTest01103=SafeText'>BenchmarkTest01103</a></li>
<li><a href='xss-01/BenchmarkTest01104.html?BenchmarkTest01104=SafeText'>BenchmarkTest01104</a></li>
<li><a href='xss-01/BenchmarkTest01115.html?BenchmarkTest01115=SafeText'>BenchmarkTest01115</a></li>
<li><a href='xss-01/BenchmarkTest01155.html?BenchmarkTest01155=SafeText'>BenchmarkTest01155</a></li>
<li><a href='xss-01/BenchmarkTest01210.html?BenchmarkTest01210=SafeText'>BenchmarkTest01210</a></li>
<li><a href='xss-01/BenchmarkTest01213.html?BenchmarkTest01213=SafeText'>BenchmarkTest01213</a></li>
<li><a href='xss-01/BenchmarkTest01223.html?BenchmarkTest01223=SafeText'>BenchmarkTest01223</a></li>
<li><a href='xss-01/BenchmarkTest01224.html?BenchmarkTest01224=SafeText'>BenchmarkTest01224</a></li>
				<!-- @@LINK@@ -->
			</ul>
			</div>
		</div>
	</div>
</div>
</body>
</html>
