<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OWASP Benchmark</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/benchmark/css/normalize.css">
  <link rel="stylesheet" href="/benchmark/css/skeleton.css">
  <link rel="icon" type="image/png" href="/benchmark/favicon.ico">
  
  <script src="/benchmark/js/jquery.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="row">
			<div class="twelve columns">
				<h1>OWASP Benchmark XML eXternal Entity Injection Test Case Index</h1>
			</div>
		</div>
		<div class="row">
			<div class="eight columns">
			<ul>
<li><a href='xxe-00/BenchmarkTest00017'>BenchmarkTest00017</a></li>
<li><a href='xxe-00/BenchmarkTest00204.html?BenchmarkTest00204=SafeText'>BenchmarkTest00204</a></li>
<li><a href='xxe-00/BenchmarkTest00205.html?BenchmarkTest00205=SafeText'>BenchmarkTest00205</a></li>
<li><a href='xxe-00/BenchmarkTest00206.html?BenchmarkTest00206=SafeText'>BenchmarkTest00206</a></li>
<li><a href='xxe-00/BenchmarkTest00291.html?BenchmarkTest00291=SafeText'>BenchmarkTest00291</a></li>
<li><a href='xxe-00/BenchmarkTest00292.html?BenchmarkTest00292=SafeText'>BenchmarkTest00292</a></li>
<li><a href='xxe-00/BenchmarkTest00293.html?BenchmarkTest00293=SafeText'>BenchmarkTest00293</a></li>
<li><a href='xxe-00/BenchmarkTest00294.html?BenchmarkTest00294=SafeText'>BenchmarkTest00294</a></li>
<li><a href='xxe-00/BenchmarkTest00459.html?BenchmarkTest00459=SafeText'>BenchmarkTest00459</a></li>
<li><a href='xxe-00/BenchmarkTest00460.html?BenchmarkTest00460=SafeText'>BenchmarkTest00460</a></li>
<li><a href='xxe-00/BenchmarkTest00461.html?BenchmarkTest00461=SafeText'>BenchmarkTest00461</a></li>
<li><a href='xxe-00/BenchmarkTest00462.html?BenchmarkTest00462=SafeText'>BenchmarkTest00462</a></li>
<li><a href='xxe-00/BenchmarkTest00538.html?BenchmarkTest00538=SafeText'>BenchmarkTest00538</a></li>
<li><a href='xxe-00/BenchmarkTest00539.html?BenchmarkTest00539=SafeText'>BenchmarkTest00539</a></li>
<li><a href='xxe-00/BenchmarkTest00540.html?BenchmarkTest00540=SafeText'>BenchmarkTest00540</a></li>
<li><a href='xxe-00/BenchmarkTest00541.html?BenchmarkTest00541=SafeText'>BenchmarkTest00541</a></li>
<li><a href='xxe-00/BenchmarkTest00678.html?BenchmarkTest00678=SafeText'>BenchmarkTest00678</a></li>
<li><a href='xxe-00/BenchmarkTest00679.html?BenchmarkTest00679=SafeText'>BenchmarkTest00679</a></li>
<li><a href='xxe-00/BenchmarkTest00759.html?BenchmarkTest00759=SafeText'>BenchmarkTest00759</a></li>
<li><a href='xxe-00/BenchmarkTest00850.html?BenchmarkTest00850=SafeText'>BenchmarkTest00850</a></li>
<li><a href='xxe-00/BenchmarkTest00851.html?BenchmarkTest00851=SafeText'>BenchmarkTest00851</a></li>
<li><a href='xxe-00/BenchmarkTest00930.html?BenchmarkTest00930=SafeText'>BenchmarkTest00930</a></li>
<li><a href='xxe-00/BenchmarkTest00931.html?BenchmarkTest00931=SafeText'>BenchmarkTest00931</a></li>
<li><a href='xxe-00/BenchmarkTest01024.html?BenchmarkTest01024=SafeText'>BenchmarkTest01024</a></li>
<li><a href='xxe-00/BenchmarkTest01025.html?BenchmarkTest01025=SafeText'>BenchmarkTest01025</a></li>
<li><a href='xxe-00/BenchmarkTest01122.html?BenchmarkTest01122=SafeText'>BenchmarkTest01122</a></li>
<li><a href='xxe-00/BenchmarkTest01211.html?BenchmarkTest01211=SafeText'>BenchmarkTest01211</a></li>
<li><a href='xxe-00/BenchmarkTest01212.html?BenchmarkTest01212=SafeText'>BenchmarkTest01212</a></li>
				<!-- @@LINK@@ -->
			</ul>
			</div>
		</div>
	</div>
</div>
</body>
</html>
